<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Welcome to Cre8iveenergies</h1>
    <p>Maureen Kolb</p>
  </body>
</html>
