<app-navbar></app-navbar>
<div class="container">
  <div class="book-title">
    <h1>Stop Telling Start Asking</h1>
  </div>
  <div class="row">
    <div class="col-sm-6 book-description">
    <p>Maureen Kolb's Stop Telling Start Asking: How to Develop The People Around You By Asking The Right Questions isn't just another business book. It's a powerful leadership tool that you can use everyday and with every member of your organization!
      Executive coach and professional speaker Maureen Kolb is dedicated to serving others by helping them see things from a different perspective. Her early career was spent as a legislative aide on Capital Hill, which she says was a great place to learn the importance of asking questions. She spent ten years in sales, primarily in the service industry. A certified ropes course instructor, Maureen founded Cr8ive Energies based on her conviction that in order to grow the people around us, we have to Stop Telling and Start Asking.</p><br>
      <a href="https://www.amazon.com/Stop-Telling-Start-Asking-Questions/dp/0983578001"><p>Buy it on Amazon</p></a>
        </div>
      <div class="col-sm-6">
      <img id="book-img"src="./assets/book.jpg">
      </div>
    </div>
  </div>
